---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "../css/global.css";
import Header from "../components/Header.astro";
import PlaylistCard from "../components/PlaylistCard.astro";
---

<Layout>
  <main>
    <Header />
    <section class="main-gruppe">
      <h2>Populære Kunstnere</h2>

      <section class="popular_artist">
        <Card
          image="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"
          navn="Miley Cyrus"
          rolle="Kunstner"
        />
        <Card
          image="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill"
          navn="Bentley"
          rolle="Kunstner"
        />
        <Card
          image="https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill"
          navn="Rihanna"
          rolle="Kunstner"
        />
        <Card
          image="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill"
          navn="Jay-Z"
          rolle="Kunstner"
        />
        <Card
          image="https://via.assets.so/album.png?id=9&q=95&w=360&h=360&fit=fill"
          navn="The Black Eyes Peas"
          rolle="Kunstner"
        />
      </section>

      <h2>Populære Playlister</h2>

      <section class="playlist-cards">
        <PlaylistCard
          image="https://picsum.photos/id/335/150/150"
          navn="Calm Music"
          rolle="Afslappende musik til de rolige dage."
        />
        <PlaylistCard
          image="https://picsum.photos/id/334/150/150"
          navn="Party Music"
          rolle="Festlig musik til de vilde fester."
        />
        <PlaylistCard
          image="https://picsum.photos/id/364/150/150"
          navn="Workout Music"
          rolle="Motiverende musik til træning."
        />
        <PlaylistCard
          image="https://picsum.photos/id/65/150/150"
          navn="Study Music"
          rolle="Rolig musik til studietiden."
        />
        <PlaylistCard
          image="https://picsum.photos/id/76/150/150"
          navn="Sleep Music"
          rolle="Beroligende musik til en god nattesøvn."
        />
      </section>
    </section>

    <style>
      main {
        max-width: 1275px;
      }

      .main-gruppe {
        background: linear-gradient(to bottom, #1f1f1f, #0a0a0a);
        padding: 20px;
      }

      .popular_artist {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
      }

      .playlist-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
        margin-top: 20px;
      }

      h2 {
        color: white;
      }

      h2:hover {
        text-decoration: underline;
      }
    </style>
  </main>
</Layout>
