<header>
  <div class="btn-group">
    <div class="btn-1">Sign Up</div>
    <div class="btn-2">Log In</div>
  </div>
</header>

<style>
  header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
  }

  .btn-group {
    display: flex;
    margin-right: 10px;
    gap: 1rem;
    font-weight: 600;
  }

  .btn-1 {
    color: rgb(178, 178, 178);
    padding: 15px;
  }

  .btn-2 {
    color: black;
    padding: 15px 30px 15px 30px;
    border-radius: 50px;
    background-color: white;
  }

  .btn-1:hover {
    color: white;
  }
</style>
