<header>
  <div>
    <button class="arrow">&#x276E;</button>
    <button class="arrow">&#x276F;</button>
  </div>

  <div class="btn-group">
    <div class="btn-1">Sign Up</div>
    <div class="btn-2">Log In</div>
  </div>
</header>

<style>
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .arrow {
    font-size: 20px;
    color: rgb(172, 172, 172);
    background-color: black;
    padding: 9px;
    border: none;
    cursor: pointer;
  }

  .btn-group {
    display: flex;
    margin-right: 10px;
    gap: 1rem;
    font-weight: 600;
  }

  .btn-1 {
    color: rgb(178, 178, 178);
    padding: 15px;
  }

  .btn-2 {
    color: black;
    padding: 15px 30px 15px 30px;
    border-radius: 50px;
    background-color: white;
  }

  .btn-1:hover {
    color: white;
  }
</style>
